body{
	background: linear-gradient(45deg, blue, aqua);
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Russo One', sans-serif;
}
.wrapper{
	position: absolute;
	top: 6%;
	left: 48%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,.0);
}
.contetnt{
	width: 800px;
	height: 400px;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	border: white 1px solid;
}